.new-post-main textarea::-webkit-scrollbar,
.post-outer-box::-webkit-scrollbar,
.post-list::-webkit-scrollbar {
  width: 0.5rem;
} /* 스크롤 바 */
.new-post-main textarea::-webkit-scrollbar-track,
.post-outer-box::-webkit-scrollbar-track,
.post-list::-webkit-scrollbar-track {
  background-color: #b4b4b4;
} /* 스크롤 바 밑의 배경 */
.new-post-main textarea::-webkit-scrollbar-thumb,
.post-outer-box::-webkit-scrollbar-thumb,
.post-list::-webkit-scrollbar-thumb {
  background: #303030;
} /* 실질적 스크롤 바 */
.new-post-main textarea::-webkit-scrollbar-thumb:hover,
.post-outer-box::-webkit-scrollbar-thumb:hover,
.post-list::-webkit-scrollbar-thumb:hover {
  background: #404040;
} /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
.new-post-main textarea::-webkit-scrollbar-thumb:active,
.post-outer-box::-webkit-scrollbar-thumb:active,
.post-list::-webkit-scrollbar-thumb:active {
  background: #eceaea;
} /* 실질적 스크롤 바를 클릭할 때 */
.new-post-main textarea::-webkit-scrollbar-button,
.post-outer-box::-webkit-scrollbar-button,
.post-list::-webkit-scrollbar-button {
  display: none;
} /* 스크롤 바 상 하단 버튼 */

.post-list {
  height: 94vh;
  width: 50vw;
  display: flex;
  overflow-y: auto;
}

.post-list-box {
  height: 70vh;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid rgb(155, 154, 154);
}
/* 실제 포스트 박스 */
.post-list-box > div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
/* 질문 */
.post-list-search {
  color: white;
  display: flex;
  margin-top: 0.1rem;
  width: 40vw;
  align-items: center;
}
.post-list-search button {
  height: 3rem;
  width: 10vw;
  padding: 0;
}
.post-list-search input {
  height: 3rem;
  background: none;
  color: white;
  width: 20vw;
}

.post-list-add {
  position: absolute;
  top: 0;
  right: 0;
}

.post-list-content {
  color: rgb(190, 190, 190);
  font-size: var(--big-font);
  margin: 0 1rem;
  height: 6vh;
  border-bottom: 1px solid rgb(155, 154, 154);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-list-setting button i {
  width: 1vw;
}

.post-list-title {
  width: 20vw;
}
.post-list-pagination {
  display: flex;
  flex-direction: column;
}
.post-list-pagination button {
  height: 2.3rem;
  width: 2.3rem;
  margin-bottom: 0.2rem;
}
.post-list-numbers {
  color: rgb(190, 190, 190);
}

/* 포스트 상세 페이지 */
.post-outer-box {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
.new-post-body + footer,
.post-outer-box + footer {
  display: none;
}
.post-main-box {
  font-size: var(--big-font);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.post-title {
  position: fixed;
  top: 2vh;
  left: 50vw;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* 제목 아래 */
.post-main-content {
  margin: 0 10vw;
  display: flex;
  justify-content: center;
}
.post-left,
.post-right {
  margin: 0 1vw;
}

/* 게시글 메인바디 */
.post-body {
  width: 49vw;
  border: 1px solid white;
  position: relative;
}
.post-content-lines {
  line-height: 50px;
  font-size: var(--mlarge);
  margin: 0 1vw;
}
.post-hashtags {
  font-style: italic;
}
.post-content-lines:last-child {
  margin-bottom: 0;
}
/* 이미지 */
.post-image {
  background-size: cover;
  position: relative;
  height: 30vw;
  width: 30vw;
  margin: 0;
  margin-right: 1vw;
}
.image-backgound {
  position: relative;
  height: 30vw;
  width: 30vw;
  background: none;
  text-align: center;
  line-height: 28vw;
}
.post-image:hover .image-backgound,
.image-backgound:hover {
  background: rgb(0, 0, 0, 0.3);
}
.image-to-left {
  position: absolute;
  height: 30vw;
  width: 4vw;
}
.image-to-right {
  right: 0;
  position: absolute;
  height: 30vw;
  width: 4vw;
}
.image-to-left:hover,
.image-to-right:hover {
  background-color: rgb(0, 0, 0, 0.7);
  cursor: pointer;
}
.image-to-left i,
.image-to-right i {
  position: absolute;
  display: none;
  left: 1vw;
  top: 50%;
  color: rgb(167, 153, 153);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.image-to-left:hover i,
.image-to-right:hover i {
  display: block;
}
.image-numbering {
  position: absolute;
  top: 1vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  display: flex;
}
.image-numbering div {
  background-color: rgba(128, 128, 128, 0.849);
  display: none;
  width: 1vw;
  height: 1vw;
  margin-right: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.image-numbering .now-picture {
  background-color: #0c0c0cc7;
}
.post-image:hover .image-numbering div {
  display: block;
}

/* 댓글 */
.post-comment-box {
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 0;
  font-size: var(--mlarge);
}
.post-comment-box > h3 {
  position: relative;
}
.post-comment-box > h3 > i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  padding-top: 0;
}
.post-comment-box > h3 > i:hover {
  cursor: pointer;
  color: rgb(190, 190, 190);
}
.post-comment-blank {
  display: inline-block;
  width: 1rem;
}
.post-comment-box li {
  font-size: var(--mlarge);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.post-comment-box .dropdown-toggle::after,
.post-comment-box .dropup .dropdown-toggle::after {
  display: none;
}
.post-comment-box button {
  border: none;
  color: white;
}
.dropdown-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 게시글 추가 */
.template-select-modal {
  display: flex;
  justify-content: center;
}
.template-select {
  width: 100%;
  border: 1px solid white;
}
.before-selected-template {
  border: 1px solid red;
}
.new-post-body {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-post-main {
  display: flex;
  flex-direction: column;
  font-size: var(--mlarge);
}
/* 해시태그 */
.new-post-main div:first-child {
  display: flex;
  height: 5vh;
}
.new-post-main div:first-child input {
  width: 80vw;
  background: none;
  color: rgb(190, 190, 190);
  border-color: #eceaea;
}
.new-post-main div:first-child button {
  width: 10vw;
}
.new-post-title {
  margin-top: 1vh;
  background: none;
  border-color: #eceaea;
  color: rgb(190, 190, 190);
}
.new-post-main textarea {
  background: none;
  color: rgb(190, 190, 190);
  height: 72vh;
  margin-top: 1vh;
  resize: none;
  border-color: #eceaea;
}
.new-post-images {
  display: flex;
  width: 90vw;
  justify-content: flex-start;
  margin-bottom: 1vh;
}
.new-post-images label {
  margin-right: 1vw;
  height: 4vh;
}
.new-post-images img {
  width: 5vw;
}
.post-image-label {
  border: 1px solid white;
  color: white;
}
.new-post-images img:hover {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 3;
  transition: all 0.5s;
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
  .post-list {
    width: 80vw;
  }
  /* 질문 */
  .post-list-search {
    margin-top: 0.1rem;
    height: 3rem;
  }
  .post-list-search {
    width: 50vw;
  }
  .post-list-search input {
    font-size: var(--mlarge);
    height: 2.3rem;
    width: 30vw;
  }
  .post-list-search button {
    font-size: var(--mlarge);
    height: 2.3rem;
    width: 10vw;
  }

  .post-list-add,
  .post-list-pagination button {
    height: 3rem;
    width: 3rem;
    font-size: var(--big-font);
  }

  .post-main-content {
    margin: 0 1vw;
  }
  /* 댓글 */
  .post-comment-box {
    width: 45vw;
    margin: 0 auto;
    padding: 0;
    margin-top: 1vh;
    font-size: var(--mbig);
  }
  .post-comment-box h3 {
    font-size: var(--mbig);
    font-style: italic;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 1px solid white;
  }
  .post-comment-blank {
    display: inline-block;
    width: 1rem;
  }

  /* 이미지 */
  .post-image {
    width: 45vw;
    height: 45vw;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 43vw;
  }
  .image-to-left-mobile,
  .image-to-right-mobile {
    width: 22.5vw;
    height: 45vw;
    position: absolute;
  }
  .image-to-left-mobile {
    left: 0;
  }
  .image-to-right-mobile {
    right: 0;
  }
  .image-numbering div {
    display: block;
    width: 3vw;
    height: 3vw;
  }
}
/* 태블릿 가로 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .post-list {
    height: 80vh;
    width: 80vw;
  }
  .post-list-box {
    height: 67vh;
  }
  .post-list-search {
    width: 60vw;
    height: 2rem;
  }
  .post-list-search input {
    font-size: var(--mlarge);
    width: 40vw;
    height: 2rem;
  }
  .post-list-search button {
    font-size: var(--mlarge);
    width: 10vw;
    height: 2rem;
  }
  .post-list-pagination button {
    height: 2.6rem;
    width: 2.6rem;
    font-size: var(--mbig);
  }
  .new-post-main textarea {
    height: 66vh;
  }
}
/* 폰 */
@media screen and (max-width: 767px) {
  .post-list {
    width: 90vw;
    height: 70vh;
  }
  .post-list-box {
    height: 63vh;
    width: 100%;
  }

  .post-list-content {
    font-size: var(--mbig);
    height: 5.5vh;
  }
  .post-list-search {
    width: 80vw;
  }
  .post-list-search input {
    font-size: var(--msmall);
    height: 2.3rem;
    width: 50vw;
  }
  .post-list-search button {
    font-size: var(--msmall);
    height: 2.3rem;
    width: 15vw;
  }
  .post-list-pagination button {
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
  }
  .post-list-numbers {
    color: rgb(190, 190, 190);
  }
  .post-list-setting button {
    width: 12vw;
    font-size: var(--msmall);
  }

  /* 포스트 상세 페이지 */
  .post-main-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  /* 제목 아래 */
  .post-main-content {
    margin: 0 0.6rem;
    flex-direction: column;
  }
  .post-main-content button {
    margin-top: 0.6rem;
    height: 2.4rem;
  }

  /* 게시글 메인바디 */
  .post-content-notice {
    font-size: var(--mbig);
    width: 90vw;
    margin: 0 auto;
    margin-top: 0.6rem;
    font-style: italic;
    text-align: center;
  }
  .post-body {
    width: 90vw;
    margin: 0 auto;
    margin-top: 1vh;
    border: none;
    border-top: 1px solid white;
    font-size: var(--mmiddle);
  }
  .post-content-lines {
    line-height: 30px;
    max-height: 1000px;
    -webkit-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    font-size: var(--mmiddle);
  }
  .foldMode .post-content-lines {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .post-content-underline {
    display: none;
  }
  .post-fold-button {
    width: 90vw;
    margin: 0 auto;
  }
  /* 댓글 */
  .post-comment-box {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    margin-top: 1vh;
    font-size: var(--mmiddle);
  }
  .post-comment-box h3 {
    font-size: var(--mbig);
    font-style: italic;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 1px solid white;
  }
  .post-comment-blank {
    display: inline-block;
    width: 1rem;
  }
  .post-comment-box li {
    font-size: var(--mmiddle);
    margin-bottom: 0;
  }

  /* 이미지 */
  .post-image {
    width: 95%;
    height: 20rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 18rem;
  }
  .image-to-left-mobile,
  .image-to-right-mobile {
    width: 47.5%;
    height: 20rem;
    position: absolute;
  }
  .image-to-left-mobile {
    left: 0;
  }
  .image-to-right-mobile {
    right: 0;
  }
  .image-numbering div {
    display: block;
    width: 3vw;
    height: 3vw;
  }

  /* 게시글 추가 */
  #contained-modal-title-vcenter {
    font-size: var(--mbig);
  }
  .new-post-main {
    font-size: var(--mmiddle);
  }

  .new-post-main div:first-child input {
    width: 65vw;
  }
  .new-post-main div:first-child button {
    width: 15vw;
    font-size: var(--msmall);
  }

  .new-post-main textarea {
    height: 66vh;
  }
  .new-post-images label {
    font-size: var(--msmall);
  }
  .new-post-images img {
    width: 10vw;
  }
}
