.post-outer-box::-webkit-scrollbar,
.post-list::-webkit-scrollbar {
  width: 0.5rem;
} /* 스크롤 바 */
.post-outer-box::-webkit-scrollbar-track,
.post-list::-webkit-scrollbar-track {
  background-color: #b4b4b4;
} /* 스크롤 바 밑의 배경 */
.post-outer-box::-webkit-scrollbar-thumb,
.post-list::-webkit-scrollbar-thumb {
  background: #303030;
} /* 실질적 스크롤 바 */
.post-outer-box::-webkit-scrollbar-thumb:hover,
.post-list::-webkit-scrollbar-thumb:hover {
  background: #404040;
} /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
.post-outer-box::-webkit-scrollbar-thumb:active,
.post-list::-webkit-scrollbar-thumb:active {
  background: #eceaea;
} /* 실질적 스크롤 바를 클릭할 때 */
.post-outer-box::-webkit-scrollbar-button,
.post-list::-webkit-scrollbar-button {
  display: none;
} /* 스크롤 바 상 하단 버튼 */

.post-list {
  height: 94vh;
  width: 50vw;
  display: flex;
  overflow-y: auto;
}

.post-list-box {
  height: 70vh;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid rgb(155, 154, 154);
}
/* 실제 포스트 박스 */
.post-list-box > div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
/* 질문 */
.post-list-search {
  color: white;
  display: flex;
  margin-top: 0.1rem;
  height: 2.2rem;
}
.post-list-search button {
  height: 2.2rem;
  margin-right: 0.2rem;
}
.post-list-search input {
  height: 2.2rem;
  background: none;
  color: white;
  margin-right: 0.2rem;
}

.post-list-add {
  position: absolute;
  top: 0;
  right: 0;
}

.post-list-content {
  color: rgb(190, 190, 190);
  font-size: var(--big-font);
  margin: 0 1rem;
  height: 6vh;
  border-bottom: 1px solid rgb(155, 154, 154);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list-title {
  width: 20vw;
}
.post-list-pagination {
  display: flex;
  flex-direction: column;
}
.post-list-pagination button {
  height: 2.3rem;
  width: 2.3rem;
  margin-bottom: 0.2rem;
}
.post-list-numbers {
  color: rgb(190, 190, 190);
}

/* 포스트 상세 페이지 */
.post-outer-box {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
.post-outer-box + footer {
  display: none;
}
.post-main-box {
  font-size: var(--big-font);
  margin-top: 2rem;
}
.post-main-box.template0 {
  display: flex;
  flex-direction: column;
}
.post-title {
  position: fixed;
  top: 2vh;
  left: 50vw;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* 제목 아래 */
.post-main-content {
  margin: 0 10vw;
  display: flex;
  justify-content: center;
}

/* 게시글 메인바디 */
.post-body {
  width: 49vw;
  /* border: 1px solid white; */
  position: relative;
}
.post-content-lines {
  /* border-bottom: 1px solid white; */
  line-height: 50px;
  font-size: var(--mlarge);
}
.post-content-lines:last-child {
  margin-bottom: 0;
}
.post-content-underline {
  position: absolute;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid white;
}

/* 이미지 */
.post-image {
  background-size: cover;
  position: relative;
  height: 30vw;
  width: 30vw;
  margin: 0;
  margin-right: 1vw;
}
.image-backgound {
  position: relative;
  height: 30vw;
  width: 30vw;
  background: none;
  text-align: center;
  line-height: 28vw;
}
.post-image:hover .image-backgound,
.image-backgound:hover {
  background: rgb(0, 0, 0, 0.3);
}
.image-to-left {
  position: absolute;
  height: 30vw;
  width: 4vw;
}
.image-to-right {
  right: 0;
  position: absolute;
  height: 30vw;
  width: 4vw;
}
.image-to-left:hover,
.image-to-right:hover {
  background-color: rgb(0, 0, 0, 0.7);
  cursor: pointer;
}
.image-to-left i,
.image-to-right i {
  position: absolute;
  display: none;
  left: 1vw;
  top: 50%;
  color: rgb(167, 153, 153);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.image-to-left:hover i,
.image-to-right:hover i {
  display: block;
}
.image-numbering {
  position: absolute;
  top: 1vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  display: flex;
}
.image-numbering div {
  background-color: rgba(128, 128, 128, 0.849);
  display: none;
  width: 1vw;
  height: 1vw;
  margin-right: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.image-numbering .now-picture {
  background-color: #0c0c0cc7;
}
.post-image:hover .image-numbering div {
  display: block;
}

/* 댓글 */
.post-comment-box {
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 0;
  font-size: var(--mlarge);
}
.post-comment-blank {
  display: inline-block;
  width: 1rem;
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
  .post-list {
    width: 80vw;
  }
  /* 질문 */
  .post-list-search {
    margin-top: 0.1rem;
    height: 3rem;
  }
  .post-list-search button {
    font-size: var(--big-font);
    height: 3rem;
    width: 12vw;
    margin-right: 0.3vw;
  }
  .post-list-search a {
    font-size: var(--big-font);
  }

  .post-list-search input {
    height: 3rem;
    width: 48vw;
    background: none;
    margin-right: 0.3vw;
  }

  .post-list-add,
  .post-list-pagination button {
    height: 3rem;
    width: 3rem;
    font-size: var(--big-font);
  }
}
/* 태블릿 가로 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .post-list {
    height: 80vh;
    width: 80vw;
  }
  .post-list-box {
    height: 67vh;
  }
  .post-list-search input {
    height: 2.6rem;
    width: 48vw;
    background: none;
    margin-right: 0.3vw;
  }
  .post-list-search button {
    font-size: var(--mlarge);
    height: 2.6rem;
    width: 12vw;
    margin-right: 0.3vw;
  }
  .post-list-pagination button {
    height: 2.6rem;
    width: 2.6rem;
    font-size: var(--mbig);
  }
}
/* 폰 */
@media screen and (max-width: 767px) {
  .post-list {
    width: 90vw;
    height: 70vh;
  }
  .post-list-box {
    height: 63vh;
    width: 100%;
  }

  .post-list-content {
    font-size: var(--mbig);
    height: 5.5vh;
  }
  .post-list-search input {
    font-size: var(--msmall);
    height: 2.3rem;
    width: 48vw;
  }
  .post-list-search button {
    font-size: var(--msmall);
    height: 2.3rem;
    width: 13vw;
    margin-right: 0.3vw;
  }
  .post-list-pagination button {
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
  }
  .post-list-numbers {
    color: rgb(190, 190, 190);
  }
}
