h1{
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.join-login-form {
    min-width: 30vw;
    color : white
}
.join-login-form button {
    margin-top : 2rem;
    margin-right : 1rem;
}