.main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://source.unsplash.com/random/1920x1080);
  width: 100vw;
  overflow-x: hidden;
}
.main-body header {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-title {
  color: white;
  display: inline-block;
  margin: auto;
  margin-left: 3rem;
}
.main-loading {
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-loading > div {
  background: rgb(0, 0, 0, 0);
}
.category-container {
  width: 95%;
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: scroll;
}
footer {
  margin-top: 1rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main-body footer img {
  height: 30px;
  width: 30px;
  margin-right: 0.6rem;
}
.main-body footer a:nth-child(2) img {
  height: 40px;
  width: 40px;
  margin-right: 0.7rem;
}
.main-body footer a:nth-child(3) img {
  height: 35px;
  width: 35px;
  margin-right: 0.8rem;
}

.footer-introduce {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.footer-introduce a,
.footer-introduce a:link,
.footer-introduce a:visited,
.footer-introduce a:hover {
  text-decoration: none;
  color: white;
}

.footer-introduce div:last-child {
  font-size: small;
}

/* 햄버거 메뉴 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  z-index: 2;
}
.menu-trigger {
  position: fixed;
  right: -1rem;
  top: 2.5rem;
  width: 30px;
  height: 24px;
  border: 0;
  outline: 0;
  margin-right: 3rem;
  background-color: rgba(58, 54, 54, 0);
}
.menu-trigger:hover {
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (10px) rotate (-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

/* 사이드 바 */
.side-bar-curtain {
  position: fixed;
  z-index: 1;
  width: 75vw;
  height: 200%;
  top: 0;
  left: -75vw;
  background-color: rgb(0, 0, 0, 0);
  transition: all 0.4s;
}
.side-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -25vw;
  height: 100%;
  width: 25vw;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.4s;
}
.side-bar.show {
  transition: all 0.4s;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 25vw;
  opacity: 1;
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
}
.side-bar.show + .side-bar-curtain {
  background-color: rgb(0, 0, 0, 0.4);
  top: 0;
  left: 0vw;
  transition: all 0.4s;
}
.side-bar h2 {
  display: inline-block;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: var(--big-font);
  color: rgb(167, 173, 197);
}
.side-bar ul {
  border-top: 3px solid gray;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-bar li {
  margin-top: 1rem;
}
.side-bar li:first-child {
  margin-top: 0;
}
.side-bar a {
  text-decoration: none;
  color: white;
  font-size: var(--middle-font);
}
.side-bar a:visited {
  color: white;
}
.side-bar a:hover {
  color: rgb(1, 1, 1, 0.5);
}
.side-bar-list {
  height: 50vh;
  overflow-y: auto;
}

.side-bar .category-setting,
.side-bar .category-setting:visited,
.side-bar .category-setting:focus {
  color: yellowgreen;
  font-size: var(--small-font);
}

/* 태블릿 */

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-trigger {
    right: -2rem;
    top: 1rem;
  }
  .category-container {
    width: 100%;
  }
  .side-bar-curtain {
    width: 60vw;
    left: -60vw;
  }
  .side-bar {
    right: -40vw;
    width: 40vw;
  }
  .side-bar.show {
    width: 40vw;
  }
  .side-bar h2 {
    font-size: var(--big-font);
  }

  .side-bar a {
    font-size: var(--middle-font);
  }

  .side-bar-list {
    height: 50vh;
  }
  .side-bar .category-setting,
  .side-bar .category-setting:visited,
  .side-bar .category-setting:focus {
    font-size: var(--small-font);
  }
}
/* 태블릿 가로 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .category-container {
    width: 95%;
  }
}
/* 폰 */
@media screen and (max-width: 767px) {
  .main-title {
    font-size: var(--big-font);
    position: absolute;
    left: -2rem;
    top: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid white;
  }
  .category-container {
    width: 100%;
  }

  /* 햄버거 메뉴 */
  .menu-trigger {
    right: -2rem;
    top: 1rem;
  }
  .side-bar-curtain {
    width: 60vw;
    left: -60vw;
  }
  .side-bar {
    right: -40vw;
    width: 40vw;
  }
  .side-bar.show {
    width: 40vw;
  }
  .side-bar h2 {
    font-size: var(--mbig);
  }
  .side-bar a {
    font-size: var(--mmiddle);
  }

  .side-bar .category-setting,
  .side-bar .category-setting:visited,
  .side-bar .category-setting:focus {
    font-size: var(--msmall);
  }
}
